tmp/
elpa/
quelpa/
/straight/
eshell/
games/
jabber-avatar-cache/
server/
url/
.python-environments/
auto-save-list/

session.*
smex-items
ido.last
.mc-lists.el
.org-id-locations
.last-package-update-day
projectile.cache
projectile-bookmarks.eld
test.el
scratch/
/init.el
/tramp
/helm-adaptive-history
/timelog
/recentf
/persp-confs/
irony/
forge-database.sqlite
