save/
elpa/
eshell/
games/
jabber-avatar-cache/
server/
url/
.python-environments/
auto-save-list/

session.*
smex-items
ido.last
.mc-lists.el
.org-id-locations
.last-package-update-day
projectile.cache
projectile-bookmarks.eld
test.el
scratch/
/init.el
/custom.el
/tramp
/helm-adaptive-history
/timelog